<section id="about">
  <h1>About</h1>
  <div class="left-column section-content">
    <p>Web Rebels is all about the <br/> the community and good times.</p>
  </div>
  <div class="right-column">
    <ul class="about-sections">
      <li class="with-background">
        <div class="icon js-svg-wrapper">
          {{{jsSvg}}}
        </div>
        <div class="content">
          <h4>A JavaScript Conference</h4>
          <p>
            The Web Rebels conference is a JavaScript conference and we are
            proud members of <a href="http://jsconf.com/">the JSConf family of
            events</a>. We are a conference for developers who love building
            applications and services using web technology.
          </p>
        </div>
      </li>
      <li class="with-background">
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <div class="content">
          <h4>For the community, not for profit</h4>

          <p>
            We are a
            <a href="http://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=997686659">
              registered not-for-profit organization
            </a>
            that is run by unpaid volunteers. If we make any profit from the
            conference we give 30% back to community groups throughout the
            Nordic region. Any questions you might have:
            <a href="mailto:kontor[ replace this bracket with a @
                     ]webrebels.org">shoot us an email</a>
            or find us on
            <a href="http://twitter.com/web_rebels/">Twitter</a>.
          </p>
          <p>
            We invite <a href="#talks">16 speakers</a> from all over the world,
            some of them are picked from our Call For Papers and some are
            picked the organizers.
          </p>
        </div>
      </li>
      <li class="with-background" id="coc">
        <div class="icon">
          <i class="fa fa-exchange"></i>
        </div>
        <div class="content">
          <h4>Code of Conduct</h4>
          <p>
            We want these couple of days to be truly enjoyable for everyone.
            Attendees, speakers, sponsors and volunteers must all respect the
            <a href="http://jsconf.com/codeofconduct.html">JSConf Code of Conduct</a>.
            <br>
            If anything happens that we should know about, contact a member of the crew.
          </p>
        </div>
      </li>
      <li id="crew" class="with-background">
        <div class="icon fist-svg-wrapper">
          {{{fistSvg}}}
        </div>
        <div class="content">
          <h4>Web Rebels</h4>
          <p>
            WEB REBEL CREW<br/>
            The volunteers working to bring you the 6th Web Rebels Conference are:
          </p>
          <ol>
            <li>Agneta Nilsson (<a href="https://twitter.com/agneta_nilsson">@agneta_nilsson</a>)</li>
            <li>Alexandra Leisse (<a href="https://github.com/troubalex">@troubalex</a>)</li>
            <li>Anders Olsen Sandvik (<a href="https://github.com/Andersos">@Andersos</a>)</li>
            <li>Bodil Stokke (<a href="https://github.com/bodil">@bodil</a>)</li>
            <li>Espen Dalløkken (<a href="https://github.com/leftieFriele">@leftieFriele</a>)</li>
            <li>Jon Koslung (<a href="https://twitter.com/nle">@nle</a>)</li>
            <li>Max Brosnahan (<a href="https://github.com/gingermusketeer">@gingermusketeer)</a></li>
            <li>Richard Walker (<a href="https://github.com/digitalsadhu">@digitalsadhu</a>)</li>
            <li>Trygve Lie (<a href="https://github.com/trygve-lie">@trygve-lie</a>)</li>
            <li>Sveinung Røsaker (<a href="https://github.com/sveisvei">@sveisvei</a>)</li>
            <li>Gregers Gram Rygg (<a href="https://github.com/gregersrygg">@gregersrygg</a>)</li>
          </ol>
          <p>
            OUR POLICIES <br/>
            If you wonder what our policies are on topics such as sponsors, speaker selection or ticket refund please consult our policies for details.
          </p>
          <p>
            SPONSORS<br/>
            Our sponsorship options states
            what each sponsoring package contains. Even though we work with
            sponsors on things outside of that standard packages, the following
            sponsor policy apply:
          </p>
          <ul>
              <li>We do not sell speaker slots</li>
              <li>We do not accept sales pitches masked as presentations</li>
              <li>We do not differentiate between speakers from partners and independent speakers</li>
          </ul>

          <p>
            TICKET REFUND POLICY<br/>
            We have a refund policy for tickets which is
            <a href="https://github.com/webrebels/rebeladmin/wiki/TicketRefunds">
              described on our wiki.
            </a>
            If you have any questions about this, please do not hesitate to contact us.
          </p>
          <p>
            SPEAKERS<br/>
            For invited speakers we cover:
          </p>
          <ul>
              <li>All travel to and from the conference hotel / venue</li>
              <li>Stay at the conference hotel during the conference</li>
              <li>Admission to the conference and all conference related activities</li>
              <li>Speakers dinner and all meals during the conference</li>
              <li>All beverages on the pre conference party and conference party</li>
              <li>A public transport card giving full access to all public transport in Oslo</li>
          </ul>
          <p>
            Upon invitation to speak at Web Rebels, each speaker is informed
            about the above. Though, each speaker are also informed that if the
            speakers employee would consider covering, in full or partly, the
            speakers travel cost we are more than happy to work out a
            sponsorship deal and what is saved upon such a deal are put back
            into making the conference better.
          </p>
          <p>
            PREVIOUS WEB REBEL CONFS<br/>
            Below are links to previous conference websites. If you're looking for the videos they're all
            in our
            <a href="https://www.youtube.com/channel/UCM9cTs_C0PmTlHXTNrqTpnw">YouTube channel.</a>
          </p>
          <ol>
            <li><a href="http://2016.webrebels.org/">2016 edition</a></li>
            <li><a href="http://2015.webrebels.org/">2015 edition</a></li>
            <li><a href="http://2014.webrebels.org/">2014 edition</a></li>
            <li><a href="http://2013.webrebels.org/">2013 edition</a></li>
            <li><a href="http://2012.webrebels.org/">2012 edition</a></li>
          </ol>
        </div>
      </li>
    </ul>
  </div>
</section>
