<footer class="ptxl pbm">
  <div class="wrapper--wide">
    <ul class="menu tc">
      <li class="menu-item"><a href="/sponsors/packages/">Sponsoring</a></li>
      <li class="menu-item"><a href="https://twitter.com/web_rebels">Twitter</a></li>
      <li class="menu-item"><a href="http://flickr.com/webrebels">Photos</a></li>
      <li class="menu-item"><a href="http://eepurl.com/bB12Ln">Newsletter</a></li>
      <li class="menu-item"><a href="https://www.youtube.com/channel/UCM9cTs_C0PmTlHXTNrqTpnw">YouTube Channel</a></li>
      <li class="menu-item"><a href="http://webrebels.tumblr.com">Tumblr</a></li>
    </ul>
  </div>
  <p class="tc plm prm" style="color:white;">Web Rebels is part for the <a href="http://jsconf.com">JSConf family of events</a> and have a <a href="/about#coc">Code of Conduct</a></p>
  <ul class="menu tc">
    <li class="menu-item tc"><p style="color:white;">Previous Web Rebels confs:</p></li>
    <li class="menu-item"><a href="//2012.webrebels.org">2012</a></li>
    <li class="menu-item"><a href="//2013.webrebels.org">2013</a></li>
    <li class="menu-item"><a href="//2014.webrebels.org">2014</a></li>
    <li class="menu-item"><a href="//2015.webrebels.org">2015</a></li>
    <li class="menu-item"><a href="//2016.webrebels.org">2016</a></li>
  </ul>
</footer>
