  <header class="">
    <div class="vulkan">
      <div class="wrapper tc">
        <h1 class="mega mbn ptl"><a href="/" class="homelink">Web Rebels</a></h1>
        <h2 class="f2 mbn">31 May &ndash; 3 June 2017 / Oslo, Norway</h2>
      </div>
    </div>
  </header>
