  <div class="">
    <div class="wrapper pvl">

      <h2 class="impact mtl">A JavaScript conference</h2>
      <p>The Web Rebels conference is a JavaScript conference and we are proud members of <a href="http://jsconf.com/">the JSConf family of events</a>. We are a conference for developers who love building applications and services using web technology.</p>

      <h2 class="impact mtl">For the community, not for profit</h2>
      <p>We are a <a href="http://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=997686659">registered not-for-profit organization</a> that is run by unpaid volunteers. If we make any profit from the conference we give 30% back to community groups throughout the Nordic region. Any questions you might have: <a href="mailto:boyhowdy[ replace this bracket with a @ ]webrebels.org">shoot us an email</a> or find us on <a href="http://twitter.com/web_rebels/">Twitter</a>.</p>
      <p>We invite <a href="./speakers">16 speakers</a>. We do not have a CFP and our <a href="./policies">policy</a> is that speakers at the conference get paid for their travel and accommodation. We do not sell speaker slots and we do not accept sales pitches masked as presentations.</p>

      <h2 class="impact mtl" id="coc">Code of Conduct</h2>
      <p>We want these couple of days to be truly enjoyable for everyone.  Attendees, speakers, sponsors and volunteers must all respect the <a href="http://jsconf.com/codeofconduct.html">JSConf Code of Conduct</a>.<br>
      If anything happens that we should know about, contact a member of the crew. (Todo: add contact info!)</p>

      <h2 class="impact mtl">Rebel crew</h2>
      <p>The volunteers working to bring you the 5th Web Rebels Conference are:</p>
      <ul>
        <li>Alexandra Leisse (<a href="https://github.com/troubalex">@troubalex</a>)</li>
        <li>Anders Olsen Sandvik (<a href="https://github.com/Andersos">@Andersos</a>)</li>
        <li>Bodil Stokke (<a href="https://github.com/bodil">@bodil</a>)</li>
        <li>Espen Dalløkken (<a href="https://github.com/leftieFriele">@leftieFriele</a>)</li>
        <li>Richard Walker (<a href="https://github.com/digitalsadhu">@digitalsadhu</a>)</li>
        <li>Trygve Lie (<a href="https://github.com/trygve-lie">@trygve-lie</a>)</li>
      </ul>
      <h2>Policies on sponsors, speakers and ticket refunds</h2>
      <p>If you wonder what our policies are on topics such as sponsors, speaker selection or ticket refund please consult our <a href="/policies">policies</a> for details.</p>
      <h2>Previous Web Rebels confs</h2>
      <p>Below are links to previous conference websites. If you're looking for the videos they're all
        in our <a href="https://www.youtube.com/channel/UCM9cTs_C0PmTlHXTNrqTpnw">YouTube channel</a>.
      <ul>
        <li><a href="http://2015.webrebels.org/">2015</a></li>
        <li><a href="http://2014.webrebels.org/">2014</a></li>
        <li><a href="http://2013.webrebels.org/">2013</a></li>
        <li><a href="http://2012.webrebels.org/">2012</a></li>
      </ul>
    </div>
  </div>
