
  <div class="oslo mtl">
    <div class="wrapper">
      <div class="box">

        <h2 class="f1 lh-solid">Call for Speakers</h2>
        <p>Speaker selection at Web Rebels have traditionally been invite only. In 2017 we want to do this a bit different so we are inviting the JavaScript community to submit talks for the upcoming Web Rebels Conference (June 1-2 2017, Oslo).</p>
        <p>This Call for Speakers closes on Jan 29th 2017, 23:59:59 CEST.</p>

        <h2 class="f2 lh-solid">Topics</h2>
        <p>We like to see anything that squarely fits into the spectrum of:
          <ul>
            <li>Cutting-edge technological advances in the world of JavaScript or computer science in general, if somehow applicable to JavaScript.</li>
            <li>Wild, crazy and clever stuff and hacks. Mad science!!</li>
            <li>Improving JavaScript developers’ lives.</li>
            <li>Mobile JS.</li>
            <li>Embedded JS.</li>
            <li>Hardware JS.</li>
            <li>Web and application security.</li>
            <li>Fundamentals, in a modern light.</li>
            <li>Whatever you want! This is your conference.</li>
          </ul>
        </p>

        <h2 class="f2 lh-solid">The perks</h2>
        <p>We cover your travel to and from Oslo. This usually means we pay for your plane or train ticket. We also pay for travel to and from Oslo Airport and downtown Oslo plus a public transport card for your days in Oslo.</p>
        <p>We cover your stay in Oslo in a lovely hotel near the venue for the days of the conference and a day before or after.</p>
        <p>You will get full entrance to the conference, a speakers dinner, the pre conference party and conference party.</p>
        <p>We will do all travel booking for you unless you would prefer to do this yourself.</p>
        <p>If your employer can cover your travel and hotel, we are happy to list them as an awesome company sponsor. The money we save will be used to make the conference more awesome.</p>
        
        <h2 class="f2 lh-solid">Guidelines</h2>
        <p>Submit your proposal by Jan 29th 2017, 23:59:59 CEST.</p>
        <p>All talks are in English.</p>
        <p>Talks are usually 30 minutes long with a 10 minutes curated Q&A (you will sit down with our MC and have a small conversation with here / him on stage - iow: no direct questions from the audience). The schedule is tight so we strongly encourage timing your presentation in advance.</p>
        <p>Make sure you care and do not over do it. Keep your proposal short and direct.</p>
        
        <h2 class="f2 lh-solid">Misc</h2>
        <p>All talks will be recorded and published on the internet for free under a Creative Commons licence.</p>
        <p>Speaker selection at Web Rebels have traditionally been invite only. This is the first year we are doing a CfP. Though; not all talks at Web Rebels 2017 will be picked from this CfP. Web Rebels 2017 will be a mix of invited speakers and talks from this CfP.</p>

        <h2 class="f2 lh-solid">Submit Your Talk</h2>
        <p><a href="https://www.papercall.io/webreb2017">Submit your abstract here!</a></p>
        <p> We particularly encourage people new to public speaking and members of underrepresented groups in tech to send in their suggestions.</p>

      </div>
    </div>
  </div>
