
  <div class="oslo mtl">
    <div class="wrapper">
      <div class="box">
        <h2 class="f1 lh-solid">Tickets, tickets, tickets!</h2>
        <p>Go grab your ticket for this year's conference over on our <a href="/tickets">ticket page</a>.</p>
      </div>
      <div class="box">
        <h2 class="f1 lh-solid">First speakers confirmed</h2>
        <p class="mbs">We're happy to announce our first batch of speakers: Franziska Hinkelmann, Mariko Kosaka, Matteo Collina, Mike Taylor, and Suz Hinton.</p>
        <p>Head over to our <a href="/speakers/">speakers page</a> for more information.</p>
      </div>
      <div class="box">
        <h2 class="f1 lh-solid">Call for Papers is now closed</h2>
        <p>A big thank you to everyone who sent their contributions to our CfP!</p>
        <p>We will be sending out emails to everyone who paticipated this week.</p>
      </div>
      <div class="box">
        <h2 class="lh-solid">Want to sponsor us?</h2>
        <p>You can find <a href="/sponsors/packages/">all the details about sponsoring right here</a>!<br>
          If you want
        to be part of 2017 or if you have questions about sponsorships, <a href="mailto:sponsors[ at ]webrebels.org">email us</a>.</p>
        <p>For more information on the conference, please take a look at <a href="/about">our about page</a>.</p>
      </div>
      <div class="box">
        <h2 class="lh-solid">Get the latest news on ticket sales and speakers!</h2>
        <p>Sign up for <a href="http://webrebels.us3.list-manage1.com/subscribe?u=f515e6756e5ffeffd7a28a60d&id=7d5e649dbe">our newsletter</a> and follow us <a href="//twitter.com/web_rebels">@web_rebels</a>.</p>
      </div>
    </div>
  </div>
