<header class="w-100" id="top">
  <img class="logo" src="img/wr_logo.svg" alt="">
  <div class="menu">
    <ul class="nav-list">
      <li><a href="#tickets">tickets <i class="fa fa-check"></i></a></li>
      <li><a href="#talks">talks <i class="fa fa-microphone"></i></a></li>
      <li><a href="#schedule">schedule <i class="fa fa-calendar"></i></a></li>
      <li><a href="#location">location <i class="fa fa-location-arrow"></i></a></li>
      <li><a href="#about">about <i class="fa fa-question"></i></a></li>
    </ul>
  </div>
  <nav>
    <ul class="nav-list">
      <li><a href="#top">logo</a></li>
      <li><a href="#tickets">tickets <i class="fa fa-check"></i></a></li>
      <li><a href="#talks">talks <i class="fa fa-microphone"></i></a></li>
      <li><a href="#schedule">schedule <i class="fa fa-calendar"></i></a></li>
      <li><a href="#location">location <i class="fa fa-location-arrow"></i></a></li>
      <li><a href="#about">about <i class="fa fa-question"></i></a></li>
    </ul>
  </nav>
</header>
<section id="talks">
  <h1>Something goes here</h1>
</section>
<section id="schedule">
  <h1>Something goes here</h1>
</section>
<section id="location">
  <h1>Something goes here</h1>
</section>
<section id="about">
  <h1>Something goes here</h1>
</section>
