
  <div class="oslo mtl">
    <div class="wrapper">
      <div class="box">
        <h2 class="f1 lh-solid">Web Rebels 6(66) edition is a thing!</h2>
        <p>We're still at it and will be doing a sixth conference!
        This being the 6(66) edition, we have planned a ton of exciting new things.
      Sign up for <a href="http://webrebels.us3.list-manage1.com/subscribe?u=f515e6756e5ffeffd7a28a60d&id=7d5e649dbe">our newsletter</a> and follow us <a href="//twitter.com/web_rebels">@web_rebels</a>.</p>
      </div>
      <div class="box">
        <h2 class="f5">+++ BREAKING +++</h2>
        <h3 class="f2"><a href="https://webrebels.tumblr.com/post/152306272228/web-rebels-is-looking-for-design-skills">Web Rebels is looking for design skills</a></h3>
      </div>
      <div class="box">
        <h2 class="f1 lh-solid">Want to sponsor us?</h2>
        <p>With help from our team of <a href="/sponsors">sponsors</a> we work to create
        a great atmosphere, it would be a very different conference without them. If you want
        to be part of 2017 or got questions about sponsorships, <a href="mailto:sponrsors[ at ]webrebels.org">email us</a>.</p>
        <p>For more information on the conference, please take a look at <a href="/about">our about page</a>.</p>
      </div>
    </div>
  </div>
