<header class="w-100">
  <img class="logo" src="img/wr_logo.svg" alt="">
  <ul>
    <li><a href="#tickets">tickets <i class="fa fa-check"></i></a></li>
    <li><a href="#talks">talks <i class="fa fa-microphone"></i></a></li>
    <li><a href="#schedule">schedule <i class="fa fa-calendar"></i></a></li>
    <li><a href="#location">location <i class="fa fa-location-arrow"></i></a></li>
    <li><a href="#about">about <i class="fa fa-question"></i></a></li>
  </ul>
</header>
<nav>
  <ul>
    <li><a href="#top">logo</a></li>
    <li><a href="#tickets">tickets <i class="fa fa-check"></i></a></li>
    <li><a href="#talks">talks <i class="fa fa-microphone"></i></a></li>
    <li><a href="#schedule">schedule <i class="fa fa-calendar"></i></a></li>
    <li><a href="#location">location <i class="fa fa-location-arrow"></i></a></li>
    <li><a href="#about">about <i class="fa fa-question"></i></a></li>
  </ul>
</nav>
