  <div class="">
    <div class="wrapper pvl">

      <h2 class="f1 impact">Welcome to Grünerløkka and Vulkan</h2>
      <p>Everything related to the conference happens at Vulkan, Grünerløkka, within a 100m radius of the venue:
        the conference, lunch and the social events.
      </p>
      <h2 class="impact mtl">Venue</h2>
      <img src="img/venue.jpg" title="Dansens Hus (House of Dance)">
      <p>Welcome to “Dansens hus” which is the National Stage for Dance. Located right next door to Mathallen and with it's larger capacity it is an ideal location for our conference
      for our 5th edition.</p>

      <h2>Lunch at Mathallen</h2>
      <p>Right next door from Dansens hus is Mathallen which is Oslo’s first gourmet food market and located about 20 meters from the venue. There is a wide selection of gourmet food stores, restaurants, excellent coffee and beer shops. All food served at the conference will be provided from these establishments.</p>
      <img src="img/mathallen-small.jpg">

      <h2>Accessibility</h2>
      <p>The venue is wheelchair accessible. The entrance is on the ground floor. If you have any questions about practicalities – or if there is anything we can do to make your attendance possible, please do not hesitate to <a href="mailto:boyhowdy[ replace this bracket with a @ ]webrebels.org">shoot us an email</a>.</p>

    </div>
  </div>
