<div class="">
  <div class="wrapper pvl">
    <h2 class="impact mtl">Our policies</h2>
    <h3>Organization and organizers</h3>
    <p>Web Rebels is <a href="http://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=997686659">registered as a non-profit organization</a> and is organized by unpaid volunteers.</p>
    <p>Organizers shall facilitate and help both speakers and attendees so they will have the best conference experience possible.</p>

    <h3>Sponsors</h3>
    <p>Our <a href="./sponsors/packages">sponsorship options</a> states what each sponsoring package contains. Even though we work with sponsors on things outside of that standard packages, the following sponsor policy apply:</p>
    <ul>
        <li>We do not sell speaker slots</li>
        <li>We do not accept sales pitches masked as presentations</li>
        <li>We do not differentiate between speakers from partners and independent speakers</li>
    </ul>

  <h3 id="ticketrefund">Ticket refund policy</h3>
  <p>We have a refund policy for tickets which is <a href="https://github.com/webrebels/rebeladmin/wiki/TicketRefunds">described on our wiki</a>.
    If you have any questions about this, please do not hesitate to contact us.</p>

    <h3>Speakers</h3>
    <p>For invited speakers we cover:</p>
    <ul>
        <li>All travel to and from the conference hotel / venue</li>
        <li>Stay at the conference hotel during the conference</li>
        <li>Admission to the conference and all conference related activities</li>
        <li>Speakers dinner and all meals during the conference</li>
        <li>All beverages on the pre conference party and conference party</li>
        <li>A public transport card giving full access to all public transport in Oslo</li>
    </ul>
    <p>Upon invitation to speak at Web Rebels, each speaker is informed about the above. Though, each speaker are also informed that if the speakers employee would consider covering, in full or partly, the speakers travel cost we are more than happy to work out a sponsorship deal and what is saved upon such a deal are put back into making the conference better.</p>

    <h3>General</h3>
    <p>Everyone taking part in the Web Rebels Conference must abide by our <a href="/about#coc">Code of Conduct</a>.</p>

</div>
</div>
