<div class="">
  <div class="wrapper pvl">



  <article>

   <h2 class="ratherloud-heading">Wednesday 1 June</h2>
   <p>It all kicks off with <a href="http://cssconf.no/">CSSConf Nordic</a>.</p>

   <table class="schedule">
     <tr class="">
       <th>18:00 - 23:00</th>
       <td>
         <h3>Meet and greet</h3>
         <p><span class="rwd-line">Pre-conference meet and greet at the <a href="http://vbarogbistro.no/">V Bar &amp; Restaurant</a>. During this evening you can exchange your ticket into the conference pass, giving you more time to focus on breakfast than queuing for access on Thursday morning. Nice eh?</p>
       </td>
     </tr>
   </table>

    <h2 class="ratherloud-heading">Thursday 2 June</h2>
    <p>Welcome to the 1st conference day, with 9 talks starting at 09:00 – and dinner at 18:00.</p>

    <table class="schedule">
      <tr class="schedule-break">
        <th>08:00</th>
        <td>
          <h3>Registration and breakfast</h3>
          <p><span class="rwd-line">As the tradition goes, no need for that hotel breakfast! </span>
             Join us for a Rebel breakfast instead.</p>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>09:00</th>
        <td>
          <a href="/speakers#juanpabloburitica" class="schedule-link">
            <h3>Juan Pablo Buriticá & Patricia Realini</h3>
            <p>How Long On That Ticket? - Proven Recipes That Enhance Collaboration</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>09:45</th>
        <td>
          <a href="/speakers#ariastewart" class="schedule-link">
            <h3>Aria Stewart</h3>
            <p>Radical Modularity</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-break">
        <th>10:30</th>
        <td>
          <p>Open Mic: Daniel Maslowski - JavaScript testing obstacles</p>
        </td>
      </tr>
      <tr class="schedule-break">
        <th> </th>
        <td>
          <p>Coffee/tea break</p>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>11:00</th>
        <td>
          <a href="/speakers#nolanlawson" class="schedule-link">
            <h3>Nolan Lawson</h3>
            <p>Progressive Web Apps: a love story</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>11:45</th>
        <td>
          <a href="/speakers#soledadpenades" class="schedule-link">
            <h3>Soledad Penadés</h3>
            <p>Real time front-end alchemy</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-break">
        <th>12:30 </th>
        <td>
          <p>Open Mic: Stian Veum Møllersen - Audible Code</p>
        </td>
      </tr>
      <tr class="schedule-break">
        <th> </th>
        <td>
          <p>Lunch</p>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>13:30</th>
        <td>
          <a href="/speakers#justinsearls" class="schedule-link">
            <h3>Justin Searls</h3>
            <p>How to Stop Hating Your Tests</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>14:15</th>
        <td>
          <a href="/speakers#annevankesteren" class="schedule-link">
            <h3>Anne van Kesteren</h3>
            <p>Bytes, URLs, and origins</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-break">
        <th>15:00</th>
        <td>
          <p>Open Mic: Mathieu 'p01' Henri - 10 PRINT THEREMIN</p>
        </td>
      </tr>
      <tr class="schedule-break">
        <th> </th>
        <td>
          <p>Coffee/tea break</p>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>15:30</th>
        <td>
          <a href="/speakers#danielstenberg" class="schedule-link">
            <h3>Daniel Stenberg</h3>
            <p>HTTP/2 explained</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>16:15</th>
        <td>
          <a href="/speakers#petergasston" class="schedule-link">
            <h3>Peter Gasston</h3>
            <p>Surveying the landscape: threats and opportunities for the web</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>17:00</th>
        <td>
          <a href="/speakers#joepettersson" class="schedule-link">
            <h3>Joe Pettersson</h3>
            <p>tba</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-break">
        <th>18:00 </th>
        <td>
          <p>Conference dinner and social gathering – right next door to the venue.</p>
        </td>
      </tr>
    </table>

    <h2 class="ratherloud-heading">Friday 3 June</h2>
    <p>Conference day #2, with 8 more talks starting at 09:00.</p>

    <table class="schedule">
      <tr class="schedule-break">
        <th>08:00</th>
        <td>
          <h3>Breakfast</h3>
          <p>Full beakfast to help you get ready for an action packed day!</p>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>09:00</th>
        <td>
          <a href="/speakers#andreasbovens" class="schedule-link">
            <h3>Andreas Bovens</h3>
            <p>Towards better apps: the what & why of progressive web apps</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>09:45</th>
        <td>
          <a href="/speakers#kennethauchenberg" class="schedule-link">
            <h3>Kenneth Auchenberg</h3>
            <p>DevTools for the Progressive Web</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-break">
        <th>10:30</th>
        <td>
          <p>Open Mic: Szmozsánszky István - Putting the Chrome Dino game on a 16MHz microcontroller with nothing but Web Technologies</p>
        </td>
      </tr>
      <tr class="schedule-break">
        <th> </th>
        <td>
          <p>Coffee/tea break</p>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>11:00</th>
        <td>
          <a href="/speakers#jonmckay" class="schedule-link">
            <h3>Jon McKay</h3>
            <p>The eternal struggle: Node.js in embedded devices</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>11:45</th>
        <td>
          <a href="/speakers#marikokosaka" class="schedule-link">
            <h3>Mariko Kosaka</h3>
            <p>That's So Metal! - Mechanical Words Through the Ages</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-break">
        <th>12:30</th>
        <td>
          <p>Open Mic: Lydia Kats - Mentoring</p>
        </td>
      </tr>
      <tr class="schedule-break">
        <th> </th>
        <td>
          <p>Lunch</p>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>13:30</th>
        <td>
          <a href="/speakers#mikaelbrevik" class="schedule-link">
            <h3>Mikael Brevik</h3>
            <p>Breaking the Fourth Wall With JavaScript</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>14:15</th>
        <td>
          <a href="/speakers#jamisondance" class="schedule-link">
            <h3>Jamison Dance</h3>
            <p>Elm can make you a better JavaScript developer</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-break">
        <th>15:00</th>
        <td>
          <p>Coffee/tea break</p>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>15:30</th>
        <td>
          <a href="/speakers#daviddias" class="schedule-link">
            <h3>David Dias</h3>
            <p>Unleash the Distributed Web</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-talk">
        <th>16:15</th>
        <td>
          <a href="/speakers#matthewpodwysocki" class="schedule-link">
            <h3>Matthew Podwysocki</h3>
            <p>Change the World With the Peer Web and Thali</p>
          </a>
        </td>
      </tr>
      <tr class="schedule-break">
        <th>17:00</th>
        <td>
          <p>Group photo</p>
        </td>
      </tr>
    </table>

   <h2 class="ratherloud-heading">Saturday 4 June</h2>
   <p class="schedule-last-block">There’s more!! On Saturday there is <a href="http://oslo.nodeconf.com/">NodeConf Oslo</a>.</p>

   <h2 class="ratherloud-heading">Sunday 5 June</h2>
   <p class="schedule-last-block">And its not even done now! <a href="http://oslo.nodeconf.com/">NodeConf Oslo</a> is also running a workshop day.</p>


  </article>

  </div>
</div>
