  <div class="">
    <div class="wrapper pvxl">

      <h2 class="impact">Meet our speakers!</h2>
      <p>Two days, one track, 18 speakers with 17 talks.<br>
        Here are the speakers announced so far:</p>
      <ul class="list-bare rebels">

        <li class="cf">
          <div class="">
            <a name="juanpabloburitica"></a>
            <img class="rebel-img" src="/img/rebels/juanpabloburitica.jpg" alt="Juan Pablo Buriticá">
            <h3 class="impact">Juan Pablo Buriticá</h3>
            <p>
            Juan Pablo Buriticá is the VP of Engineering at ride.com where he leads a distributed team throughout the US and Latin America that is working to reinvent how people commute to work and take 1 million cars of the road.
            </p>
            <p>
            Juan Pablo has built effective software engineering organizations by emphasizing Open Source software values, technical excellence, trust and empathy. He has organized five software engineering conferences, spoken at multiple events, and led the growth of Colombia’s JavaScript community, the largest Spanish-speaking JS community in the world with more than 4000 members
            </p>
            <h4 class="impact">How Long On That Ticket? - Proven Recipes That Enhance Collaboration</h4>
            <p>
            Programming can often feel like a solitarypursuit – it’s just you and your computer against the world – it’s easy to forget that you are working alongside a team of people to accomplish a project as a group.  Professional cooks do this every day, sometimes twice a day with shorter timeframes to feed hungry patrons. In this talk, Juan Pablo & Patricia sauté their way through communication recipes used every night in the fast paced world of cooks and kitchens to support each other as they collaborate on making great food. Let’s explore how engineering teams can implement them to whip up better software. 
            </p>
          </div>
        </li>

        <li class="cf">
          <div class="">
            <a name="ariastewart"></a>
            <img class="rebel-img" src="/img/rebels/ariastewart.jpg" alt="Aria Stewart">
            <h3 class="impact">Aria Stewart</h3>
            <p>
            Aria Stewart is a software developer at npm. They love building open-ended systems where people come up with surprising ways to use it and things link together in new and unexpected ways.
            </p>
            <h4 class="impact">Radical Modularity</h4>
            <p>What if we take modularity to the extreme? What is modularity? What new concepts come out if we radically change how we work, share, and build software?</p>
          </div>
        </li>

        <li class="cf">
          <div class="">
            <a name="kennethauchenberg"></a>
            <img class="rebel-img" src="/img/rebels/kennethauchenberg.jpg" alt="Kenneth Auchenberg">
            <h3 class="impact">Kenneth Auchenberg</h3>
            <p>
            Kenneth is a Program Manager, focused on DevTools and Remote Debugging at Microsoft, and is obsessed with tooling. He started the <a href="http://remotedebug.org/>RemoteDebug</a> project to unify remote debugging and lives in Vancouver, Canada. He’s the organizer of the <a href="http://coldfrontconf.cm/">ColdFront Conference</a> in Copenhagen, Denmark. Kenneth blogs occasionally at <a href="http://kenneth.io/">kenneth.io</a>, and tweets as <a href="http://twitter.com/auchenberg">@auchenberg</a>.
            </p>
            <h4 class="impact">DevTools for the Progressive Web</h4>
            <p>
            The Progressive Web is here, and it means our web apps will escape the browser tab and power the applications running on our phones, TVs and watches. But what does that mean for the developer tools we use every day? In this talk I’ll share our view on web tooling and the work we do to make it easier and more productive to build for the web.
            </p>
          </div>
        </li>

        <li class="cf">
          <div class="">
            <a name="mikaelbrevik"></a>
            <img class="rebel-img" src="/img/rebels/mikaelbrevik.jpg" alt="Mikael Brevik">
            <h3 class="impact">Mikael Brevik</h3>
            <p>
            Mikael Brevik is a programmer. While he enjoys many other languages, he usually falls back to his real love; JavaScript. He likes to contribute to open source, and maintains a couple of popular JavaScript-libraries in his spare time. When he is not programming he organizes a JavaScript meetup in Trondheim and hosts a budding Norwegian JavaScript podcast.
            </p>
            <h4 class="impact">Breaking the Fourth Wall With JavaScript</h4>
            <p>
            The dawn of ES201* is around us, no doubt. But it seems as people are focusing more on the syntactic sugar and superficial changes to the language, and not on the more interesting semantic changes. Like JavaScript Proxy. With it, the language is more reflexive than ever. What does this mean and more importantly, what can we do with that? In this presentation we’ll see how we can do more meta programming in JavaScript and how we can use and exploit some of it’s properties to do fun, and sometimes stupid, implementations. 
            </p>
          </div>
        </li>

        <li class="cf">
          <div class="">
            <a name="andreasbovens"></a>
            <img class="rebel-img" src="/img/rebels/andreasbovens.jpg" alt="Andreas Bovens">
            <h3 class="impact">Andreas Bovens</h3>
            <p>
            Andreas joined Opera Software in Tokyo in 2007, and moved to Oslo in 2009 to head up its developer relations team. After Opera's switch to Chromium, he worked as a product manager for browser extensions, rebuilding Opera's extension ecosystem from scratch, and since last year, he is product manager of Opera for Android. In this role, he's been working on making Opera support the technology stack powering progressive web apps, and he's talked about them at Edge Conf and the Chrome Dev Summit. He's a big believer in progressive web apps, and how they empower users and businesses by bringing native-like experiences to the web platform.
            </p>
            <h4 class="impact">Towards better apps: the what & why of progressive web apps</h4>
            <p>
            Progressive web apps are getting an increasing amount of attention in web dev circles, and deservedly so. This talk will cover the technologies underlying progressive web apps, and explain how these apps can make a difference for people worldwide.
            </p>
          </div>
        </li>

        <li class="cf">
          <div class="">
            <a name="daviddias"></a>
            <img class="rebel-img" src="/img/rebels/daviddias.jpg" alt="David Dias">
            <h3 class="impact">David Dias</h3>
            <p>
            <a href="http://daviddias.me/">David Dias</a> is a P2P Software Engineer and Researcher at Protocol Labs, and one of the developers of <a href="http://ipfs.io/">IPFS</a>, the InterPlanetary FileSystem. Before he has worked on the security and web development industry at ^lift security. David holds a P2P M.Sc., having built webrtc-explorer, a P2P DHT using WebRTC specifically for the Web Platform for job execution and distribution. Currently, David is also an invited Professor at the University of Lisbon, having developed a new post graduation course on modern Web development.
            </p>
            <h4 class="impact">Unleash the Distributed Web</h4>
            <p>
            The Web, the platform that we love and learned to rely on, has converged to a centralised, failure prone, exclusive and censured platform. However, the Internet, the underlying network that connects every device together, is not the fault for how the Web platform has turned. 
            </p>
            <p>
            We need to bring the distributed properties of the Internet back! That is why we, the IPFS community, are building the InterPlanetary Filesystem, a mountable and distributed file storage protocol that provides cryptographic versioning (never move the same piece of content twice), free deduplication (avoid hitting the server several times for the same data) and distributed discovery (make Web Apps work ‘offline’!). 
            </p>
            <p>
            This talk will go through the design of IPFS and how we can build fully decentralised Web Applications using Web technologies, today!
            </p>
          </div>
        </li>

        <li class="cf">
          <div class="">
            <a name="jonmckay"></a>
            <img class="rebel-img" src="/img/rebels/jonmckay.jpg" alt="Jon McKay">
            <h3 class="impact">Jon McKay</h3>
            <p>
            Jon is an engineer and entrepreneur who lives at the intersection of software and hardware. He co-founded Technical Machine just after college which produced a Node.js based microcontroller platform called Tessel. He continues to serve on the Tessel Steering Committee after the project transitioned to open-governance. In his spare time, he works on his motorcycle, rock climbs, and dreams about avocados that never get too ripe.
            </p>
            <h4 class="impact">The eternal struggle: Node.js in embedded devices</h4>
            <p>
            This talk walks through the Tessel Project's journey to build the best developer tools for running Node.js on embedded devices. Building Node capabilities into embedded devices empowers millions of web developers to get their hands dirty and solve problems in an entirely new and previously intimidating domain.
            </p>
            <p>
            Over the past 3 years, the project has encountered countless roadblocks including but not limited to: embedded memory constraints, transpiling other languages, and the dreaded binary modules- all for the glory of running Node.js everywhere. This talk will walk through how we overcame those challenges and what's next for Node.js on embedded devices.
            </p>
          </div>
        </li>

        <li class="cf">
          <div class="">
            <a name="annevankesteren"></a>
            <img class="rebel-img" src="/img/rebels/annevankesteren.jpg" alt="Anne van Kesteren">
            <h3 class="impact">Anne van Kesteren</h3>
            <p>
            Standards engineer employed by Mozilla. Furthers the web with the WHATWG community. Would love to learn from you all.
            </p>
            <h4 class="impact">Bytes, URLs, and origins</h4>
            <p>
            This talk covers various low-level primitives the web is build upon, their corresponding JavaScript API, and wider web platform impact. It also attempts to explain the same-origin policy and how you can help evolving it all further.
            </p>
          </div>
        </li>

        <li class="cf">
          <div class="">
            <a name="jamisondance"></a>
            <img class="rebel-img" src="/img/rebels/jamisondance.jpg" alt="Jamison Dance">
            <h3 class="impact">Jamison Dance</h3>
            <p>
            Jamison Dance is a co-host of the JavaScript Jabber and Soft Skills Engineering podcasts and a friend to animals. He runs the Utah Orem JavaScript and Utah Elm Users meetups and the React Rally conference, builds open source education software at Kuali, and once spelled it `array.lenght`.
            </p>
            <h4 class="impact">Elm can make you a better JavaScript developer</h4>
            <p>
            Functional programming is one of the oldest ideas in computer science, but it is just beginning to invade front end development. The core of functional programing is group of simple but powerful ideas that can work together to make your programs easier to build, understand, debug, and refactor.
            </p>
            <p>
            Elm is a functional programming language that runs in the browser, and is built on pure functions, immutable data, and a powerful type system. Learn how Elm can make you a better JavaScript developer, and maybe, just maybe, take the plunge in to trying Elm yourself. 
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="patriciarealini"></a>
            <img class="rebel-img" src="/img/rebels/patriciarealini.jpg" alt="Patricia Realini">
            <h3 class="impact">Patricia Realini</h3>
            <p>
            <a href="http://www.patriciarealini.com">Patricia</a> is a software engineer, an artist and a woman in Los Angeles, CA. When she's not coding, you can find her recipe testing pies in the kitchen or "practicing" blind wine tasting.
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="joepettersson"></a>
            <img class="rebel-img" src="/img/rebels/joepettersson.jpg" alt="Joe Pettersson">
            <h3 class="impact">Joe Pettersson</h3>
            <p>
            Joe's Engineering Lead at McKinsey Digital Labs. He writes, advises and speaks on engineering, technology, the web, entrepreneurship and building kick-ass products. He's been writing JavaScript since the late 1990's (which makes him feel really old) and has a passion for talking about it publically. He's half Swedish and half English, which means that while he loves herring, snow and flat-pack furniture; he also never performs adequatley at international football tournaments.
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="marikokosaka"></a>
            <img class="rebel-img" src="/img/rebels/marikokosaka.jpg" alt="Mariko Kosaka">
            <h3 class="impact">Mariko Kosaka</h3>
            <p>
            Mariko is an engineer who loves data and knitting. When she is not making software at Scripto, she uses code to help her design textiles & organize a local JavaScript meetup in New York City called BrooklynJS.
            </p>
            <h4 class="impact">That's So Metal! - Mechanical Words Through the Ages</h4>
            <p>
            What do you imagine when you hear "letter press" or "Typesetting"? You might think of Gutenberg Bible or hip print shop in Brooklyn, but Typesetting machine attracted many engineer's creative curiosity long before everyone had own home printer or a website.
            </p>
            <p>
            Typesetting machine was invented out of do "not repeat yourself" momentarily, and one of 1st machinery to be automated. Before we had computer screen, programmers were making domain specific language to print an image with code. Did you know Unix was used to operate typesetting machine in 70s? Ken Thompson even hacked on typesetter to create Emoji for his chess machine book! The base concept of the webpage we deal with everyday - using computer to format document - was once a exciting research field. Modern software like WYSIWIG editor would not exist if these creative minds didn't put ink on their fingers. Let's look back the part of computing history that allowed us to have HTML, web fonts and emoji and more!
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="danielstenberg"></a>
            <img class="rebel-img" src="/img/rebels/danielstenberg.jpg" alt="Daniel Stenberg">
            <h3 class="impact">Daniel Stenberg</h3>
            <p>
              <a href="http://daniel.haxx.se/">Daniel Stenberg</a> is employed by Mozilla, participated in the HTTP/2 work within the IETF and has hands-on experience with several HTTP/2 implementations. He's perhaps most known as the maintainer and lead developer of <a href="https://curl.haxx.se/">curl</a> and libcurl. Author of <a href="http://daniel.haxx.se/http2">http2 explained</a>.
            </p>
            <h4 class="impact">HTTP/2 explained</h4>
            <p>
            HTTP/2 is the new version of the web's and the Internet's most important and widely used protocol. RFC 7540 shipped in May 2015 and is now getting deployed across the Internet in servers and clients. Daniel explains what it is, why it matters, how widespread the use already is and what might be up next in HTTP land.
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="soledadpenades"></a>
            <img class="rebel-img" src="/img/rebels/soledadpenades.jpg" alt="Soledad Penadés">
            <h3 class="impact">Soledad Penadés</h3>
            <p>
            Devevangineer at Mozilla. Building real time audio+graphics experiments with JavaScript; breaking half the browsers in the process. It's fun!
            </p>
            <h4 class="impact">Real time front-end alchemy</h4>
            <p>
            As new features are added to the Web platform, the kind of experiences we can build become amazingly interactive and immersive--a huge leap forward from the static document based web of yore!
            </p>
            <p>
            Nowadays we can access webcams and play 3D audio and graphics, all in real time and in the browser, but there was a missing piece: capturing and encoding! Most solutions involved either sending data to servers or porting C++ encoders to JavaScript, none of which were particularly efficient or desirable for privacy or performance reasons.
            </p>
            <p>
            Thankfully there is a better way: the new and shiny MediaCapture API, and in this talk you will learn all about it. Streams will be no strangers to you anymore, and you might even be tempted to cross a few of them---just for fun!
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="justinsearls"></a>
            <img class="rebel-img" src="/img/rebels/justinsearls.jpg" alt="Justin Searls">
            <h3 class="impact">Justin Searls</h3>
            <p>Justin has a gift for stumbling upon all that is broken in the software industry, but is careful to avoid the cynicism that any of its problems are beyond fixing. He co-founded Test Double, a software agency of great people dedicated to making software that's better for businesses to manage, developers to work with, and customers to use.
            </p>
            <h4 class="impact">How to Stop Hating Your Tests</h4>
            <p>
            Most developers hate their team's test suites—and those who don't, probably should.
            </p>
            <p>
            Testing is a secondary job when writing production systems, so we naturally put less planning and attention toward it. Our tests are in a state of arrested development: difficult to understand, unsafe to change, and so slow they undermine our productivity.
            </p>
            <p>
            This talk works through the top 15 things people hate about their and what can be done to downgrade that hatred to something no worse than chillsome loathing.
            </p>
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="matthewpodwysocki"></a>
            <img class="rebel-img" src="/img/rebels/matthewpodwysocki.jpg" alt="Matthew Podwysocki">
            <h3 class="impact">Matthew Podwysocki</h3>
            <p>Matthew Podwysocki is a Software Engineer and self-described Open
             Sourcerer at Microsoft.  He currently works on the Reactive Extensions
             for all platforms and the Thali Project exploring the Internet of Things
             and Privacy.  He is passionate about open source, helping such efforts
             as Microsoft support of Node.js.  He also spends his free time helping
             teach the next generation of software developers through STEM outreach.
            </p>
            <h4 class="impact">Change the World With the Peer Web and Thali</h4>
            <p>
            How we can use JavaScript on our devices such as phones to change the world. From enabling those who don't have reliable internet or phone service to still be able to communicate, to protecting those in danger and protecting their identity. This all can be accomplished with the Thali Project, bringing back the peer web with our devices.
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="nolanlawson"></a>
            <img class="rebel-img" src="/img/rebels/nolanlawson.jpg" alt="Nolan Lawson">
            <h3 class="impact">Nolan Lawson</h3>
            <p>Nolan is a dual Android/web developer and co-maintainer of PouchDB. He's passionate about offline, performance, and pushing the boundaries of the mobile web.
            </p>
            <h4 class="impact">Progressive Web Apps: a love story</h4>
            <p>
            Why would an Android developer ever give up the raw power of native apps for something as weird and finicky as the web? In this talk, Nolan Lawson shares his journey as an Androidian-turned-webomancer, and why he thinks Progressive Web Apps are a compelling enough technology that other native developers should sit up and take note. 
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="petergasston"></a>
            <img class="rebel-img" src="/img/rebels/petergasston.jpg" alt="Peter Gasston">
            <h3 class="impact">Peter Gasston</h3>
            <p>Peter is a veteran web developer who now works as a technologist at rehabstudio on projects for clients including Google and Facebook, and in partnership with some of the world’s biggest creative agencies. He’s the author of The Book of CSS3 and The Modern Web, and has written for Net Magazine, Smashing Magazine and A List Apart. In his spare time he ‘relaxes’ by reading voraciously, supporting Arsenal, and going on day trips to castles.
            </p>
            <h4 class="impact">Surveying the landscape: threats and opportunities for the web</h4>
            <p>
            From native apps to closed platforms to messenger bots, there are many threats to the influence and long-term health of the web. But perhaps its not time to give up on the browser just yet: the web could be sufficiently flexible to find new roles and new opportunities in the technology landscape of today and the near future.
            </p>
          </div>
        </li>
      </ul>

    </div>
  </div>