  <div class="">
    <div class="wrapper pvxl">

      <h2 class="f1 lh-solid">Meet our speakers!</h2>
      <h3 class="f2 lh-title">Two days.&ensp;One track.&ensp;16 speakers.</h3>
      <p class="mbl">We're still going through the abstracts we received though our Call for Papers. <br> We are going to add speakers here continuously as we confirm them.</p>
      <h3 class="f2 lh-title">Speakers</h3>
      <h4 class="f3 lh-title">Franziska Hinkelmann</h4>
      <p class="mbl">
        Franziska has a Ph.D. in mathematics and is a software engineer on Google’s V8 team. She's an expert on ES6 performance and a Node.js core collaborator. When she's not working hard on making JavaScript and Node faster, she's probably out horseback riding.
      </p>
      <h4 class="f3 lh-title">Mariko Kosaka</h4>
      <p class="mbl">
        Mariko is an engineer who loves data and knitting. When she is not making software at Scripto, she uses code to help her design textiles &amp; organize a local JavaScript meetup in New York City called BrooklynJS.
      </p>
      <h4 class="f3 lh-title">Matteo Collina</h4>
      <p class="mbs">
        Matteo is a code pirate and mad scientist. He spends most of his days programming in node.js, but in the past he worked with Ruby, Java and Objective&#8209;C.
      </p>
      <p class="mbl">
        He recently got a Ph.D. with a thesis titled "Application Platforms for the Internet of Things". Now he is a Software Architect at nearForm, where he consults for the top brands in world. Matteo is also the author of the Node.js MQTT Broker, Mosca and of the LevelGraph database. He is also co-author of the book "Javascript: Best Practices" edited by FAG, Milan.
      </p>
      <h4 class="f3 lh-title">Mike Taylor</h4>
      <p class="mbl">
        Mike Taylor is a Web Compatibility Engineering Manager at Mozilla, working from Austin, TX. Previously he worked as a Web Opener at Opera Software, which is a funny title for pretty much the same thing (minus the management bit).
      </p>
      <h4 class="f3 lh-title">Suz Hinton</h4>
      <p class="mbl">
        Suz Hinton is a JavaScript developer who likes to tinker with hardware. Beside of being a technical evangelist at Microsoft she's a maker at heart and no stranger to minor burns from soldering irons and 3D printers. She's a regular contributor to the open source Node.js electronics scene, and enjoys teaching others how to immerse themselves in the nerdiverse.
      </p>
      <h3 class="f2 lh-title">Workshop speakers</h3>
      <h4 class="f3 lh-title">Mathias Buus Madsen</h4>
      <p class="mbs">
        Mathias lives in Copenhagen, Denmark. He tends to publish a lot stuff on github: <a href="https://github.com/mafintosh">github.com/mafintosh</a>
      </p>
      <p class="mbs">
        In the last years he has mainly been working with distributed systems and peer to peer in node (among other things he wrote a streaming torrent client called torrent-stream, a torrent video player and a torrent based file system)
      </p>
      <p class="mbl">
        He also works on the dat project (https://dat-data.com) where we’re trying to revolutionize how data is being shared and versioned.
      </p>
      <h4 class="f3 lh-title">Thomas Watson</h4>
      <p class="mbl">
        Thomas Watson is an open source Node.js hacker out of Copenhagen, Denmark. He is a member of the Node.js Diagnostics Working Group and is the Node.js Lead at Opbeat – a JavaScript performance analysis and monitoring startup. He maintains over a 100 open source projects, enjoys working with mad science and implementing network protocols in JavaScript.
      </p>
    </div>
  </div>
