<div class="">
  <div class="wrapper pvl">
    <h2 class="f1 lh-solid" style="display: inline-block;">Tickets</h2>
    <a class="tickets" href="https://ti.to/webrebels/2017">Buy tickets 🎟</a>
    <p class="mbs">Tickets will go on sale in batches again:</p>
    <ul class="mbl">
      <li><strong>March 3rd 12:00 CET:</strong> 70 tickets</li>
      <li><strong>March 10th 17:00 CET:</strong> 90 tickets</li>
      <li><strong>March 17th 12:00 CET:</strong> all remaining tickets</li>
    </ul>
    <h3 class="f2 lh-title">Ticket prices</h2>
    <p></p>

    <p>A ticket for Web Rebels will cost 3900 NOK including MVA. We also offer <a href="/tickets#diversity">Diversity Support Tickets</a>.</p>
    <p>Learn to P2P workshop = TBD</p>
    <p>Tickets will be sold through <a href="https://ti.to/webrebels/2017">ti.to</a> as in previous years.  <a href="https://ti.to/webrebels/2017">Click here to buy tickets.</a></p>
    <p class="mbm">We use <a href="https://stripe.com">Stripe</a> for payments and they accept Visa, MasterCard, and American Express cards.</p>
    <a name="ticketcontent"></a><h2>What does a ticket give you?</h2>
    <ul class="mbxl">
      <li>access to the conference(s) with awesome talks</li>
      <li>a prepaid card to choose your own <strong>lunch</strong> at Mathallen</li>
      <li>a steady stream of <strong>coffee and tea</strong> all day</li>
      <li>entrance to the <strong>conference party</strong> Thursday evening</li>
      <li>full <strong>dinner</strong> at the party Thursday</li>
      <li>a decent amount of <strong>free beverages</strong> during the party</li>
    </ul>

    <a name="diversity"></a><h2>Diversity Support Tickets</h2>
    <p>This year we are offering Diversity Support Tickets. Purchasing a ticket for yourself and help another person of the conference’s choosing to be able to attend the event.
    We now offer tickets with 25% of a ticket to paying for a full ticket. We thank you in advance for your generosity and awesomeness and looking forward to a more diverse Web Rebels!</p>


    <p class="mbs">Not sure how to best travel to Oslo? Checkout our <a href="/travel">travel guide</a>.</p>
    <!-- <p class="mbs">You can read more on our blog about the ticket sales process:</p>
    <p class="mbs"><a href="https://webrebels.tumblr.com/post/139069607543/ticket-sale">About the 2016 ticket sales</a> &amp;
        <a  href="https://webrebels.tumblr.com/post/111637996063/gone-in-less-than-60-seconds">“Gone in less than 60 seconds”</a>
    </p> -->
    <p>Got a ticket but can't go? Please consult our <a href="/policies#ticketrefund">ticket refund policies</a>.</p>
  </div>
</div>
