<div class="">
  <div class="wrapper pvl">
    <h2 class="f1 lh-solid">Tickets</h2>
    <p class="mbs">Tickets will go on sale on batches again:</p>
    <ul class="mbl">
      <li><strong>March 3rd 12:00 CET:</strong> 70 tickets</li>
      <li><strong>March 10th 17:00 CET:</strong> 90 tickets</li>
      <li><strong>March 17th 12:00 CET:</strong> all remaining</li>
    </ul>
    <!-- <p class="mbxl"><a class="link" href="/buytickets">Buy tickets</a></p> -->
    <h3 class="f2 lh-title">Ticket prices</h2>
    <p></p>

    <p>Web Rebels = 3900 NOK</p>
    <p>Learn to P2P workshop = TBD</p>

    <p class="mbm">We use <a href="https://stripe.com">Stripe</a> for payments and they accept Visa, MasterCard, and American Express cards.</p>
    <a name="ticketcontent"></a><h2>What does a ticket give you?</h2>
    <ul class="mbxl">
      <li>access to the conference(s) with awesome talks</li>
      <li>a prepaid card to choose your own <strong>lunch</strong> at Mathallen</li>
      <li>a steady stream of <strong>coffee and tea</strong> all day</li>
      <li>entrance to the <strong>conference party</strong> Thursday evening</li>
      <li>full <strong>dinner</strong> at the party Thursday</li>
      <li>a decent amount of <strong>free beverages</strong> during the party</li>
    </ul>
    <p class="mbs">Not sure how to best travel to Oslo? Checkout our <a href="/travel">travel guide</a>.</p>
    <!-- <p class="mbs">You can read more on our blog about the ticket sales process:</p>
    <p class="mbs"><a href="https://webrebels.tumblr.com/post/139069607543/ticket-sale">About the 2016 ticket sales</a> &amp;
        <a  href="https://webrebels.tumblr.com/post/111637996063/gone-in-less-than-60-seconds">“Gone in less than 60 seconds”</a>
    </p> -->
    <p>Got a ticket but can't go? Please consult our <a href="/policies#ticketrefund">ticket refund policies</a>.</p>
  </div>
</div>
