<div class="">
  <div class="wrapper pvl">
    <p>Conference is over, no more tickets :)</p>
    <!--
    <h2 class="impact">Web Rebels are sold out!</h2>
    <p class="mbxl">You can however still get tickets for <a href="http://cssconf.no">CSSconf Nordic</a> (Wednesday June 1st)
    and <a href="http://oslo.nodeconf.com">NodeConf Oslo</a> (Saturday June 4th)<br>
    <a class="link" href="/buytickets">Buy tickets</a>
  </p>
    <h2 class="impact">Tickets</h2>
    <p>We have one ticket for the Web Rebels Conference, but there is more!
      The Web Rebels collaborate with <a href="http://cssconf.no">CSSconf Nordic</a> (Wednesday June 1st)
      and <a href="http://oslo.nodeconf.com">NodeConf Oslo</a> (Saturday June 4th) to
      create a unique conference experience lasting four days!
      To make it easier to convince your boss to pay for this, we have combo tickets!</p>

      <b>Web Rebels ticket</b>
      <p>Web Rebels = 3900 NOK</p>

      <b>Triple super awesome combo ticket</b>
      <p>CSSconf Nordic + Web Rebels + NodeConf Oslo = 7200 NOK</p>

      <p>We use <a href="https://stripe.com">Stripe</a> for payments and they accept Visa, MasterCard, and American Express cards.</p>
    <h2>What does a ticket give you?</h2>
    <a name="ticketcontent"></a>
    <ul>
      <li>access to the conference(s) with awesome talks</li>
      <li>a prepaid card to choose your own <strong>lunch</strong> at Mathallen</li>
      <li>a steady stream of <strong>coffee and tea</strong> all day</li>
      <li>entrance to the <strong>conference party</strong> Thursday evening</li>
      <li>full <strong>dinner</strong> at the party Thursday</li>
      <li>a decent amount of <strong>free beverages</strong> during the party</li>
    </ul>
    <p>Not sure how to best travel to Oslo? Checkout our <a href="/travel">travel guide</a>.</p>
    <p class="mbs">You can read more on our blog about the ticket sales process:</p>
    <p class="mbs"><a href="https://webrebels.tumblr.com/post/139069607543/ticket-sale">About the 2016 ticket sales</a> &amp;
        <a  href="https://webrebels.tumblr.com/post/111637996063/gone-in-less-than-60-seconds">“Gone in less than 60 seconds”</a>
    </p>
    <p>Got a ticket but can't go? Please consult our <a href="/policies#ticketrefund">ticket refund policies</a>.</p>
  -->
  </div>
</div>
