<div class="">
  <div class="wrapper pvxl">

  <h2 class="f1 impact">Our team of sponsors!</h2>
  <p>The Web Rebels Conference is run by a team of voulenteers and we run our organization as a non-profit.
    Without the help of our team of sponsors there would be no conference. Show them some love!</p>

  <p class="mbxl ">Want to join the team for 2017? <a class="link" href="mailto:sponrsor[ at ]webrebels.org">email us</a> to be first in line 
    for the most awesome packages ;)
  </p>

  <h2 class="f1 impact">Tier 3</h2>
  <div class="mbxl">
    <p><a href="http://acando.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=sponsorpage" title="Acando"><img style="background-color:#FFF;width:200px;height:100px" src="/img/sponsors/acando.svg" alt="Acando logo" align="left"></a>
      Do you simply love new technology? Do you think of Node and JavaScript when hearing Full-Stack? Did you just make a Grocery List App for your girlfriend and yourself using Firebase and React-Native? Can you whip up boilerplate for a Universal Web App in 30 minutes? – While being a little bit annoyed about the fact that babel-loader has been bumped since you started, twice! Then Acando is the spot for you! Get in touch or send us your CV on <a href="mailto:jobbhos@acando.no">jobbhos@acando.no</a>.</p>
    <p><a href="http://bouvet.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=sponsorpage" title="Bouvet"><img src="/img/sponsors/bouvet.png" alt="Bouvet logo"></a></p>
    <p><a href="http://microsoft.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=sponsorpage" title="Microsoft"><img src="/img/sponsors/microsoft.png" alt="Microsoft logo"></a></p>
    <p><a href="https://goo.gl/Z6VihS" title="Schibsted"><img src="/img/sponsors/schibsted.jpg" width="200" height="50" alt="Schibsted logo" align="left" style="margin-right:20px"></a>We're building the next generation of media and marketplace products, and we are hiring for a ton of different positions in Oslo. Check them out <a href="https://goo.gl/Z6VihS" title="Schibsted">here</a>!</p>
    <p><a href="http://systek.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Systek"><img style="background-color:#FFF;width:200px;height:100px" src="/img/sponsors/systek.svg" alt=""></a></p>
    <p><a href="http://netliferesearch.com/?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Netlife Reseach"><img src="/img/sponsors/netlife.png" alt="" align="left"></a>
      Digital agency making products and websites. We are hiring. Work in cross-functional teams with other developers, designers and content specialists.<br> We use modern web technologies to create great user experiences for our clients.
</p>
  </div>
  <h2>Barista</h2>
  <div class="mbxl">
    <p><a href="http://webstep.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Webstep"><img src="/img/sponsors/webstep.png" alt=""></a></p>
  </div>
  <h2>Tier 2</h2>
  <div class="mbxl">
    <p><a href="http://appear.in?utm_campaign=wr2016&utm_source=webrebels&utm_content=sponsorpage" title="appear.in"><img src="/img/sponsors/appearin.png" alt="Appear.in logo" align="left"></a>
    Video conferencing doesn't get easier than this! <a href="http://appear.in?utm_campaign=wr2016&utm_source=webrebels&utm_content=sponsorpage">appear.in</a> lets you start a video conversation with up to 8 people without installing any plugins or registering. It's entirely built with WebRTC and node.js by a team of passionate people here in Oslo, that you can meet at Webrebels. We're always looking for great JavaScript developers, so get in touch on <a href="mailto:jobs@appear.in">jobs@appear.in</a>.</p>
    <a href="http://bekk.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=sponsorpage" title="Bekk"><img src="/img/sponsors/bekk.png" alt="Bekk logo"></a>
  </div>
  <h2>Tier 1</h2>
  <div class="mbxl">
    <p><a href="http://kodemaker.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=sponsorpage" title="Kodemaker"><img src="/img/sponsors/kodemaker.png" alt="Kodemaker logo"></a></p>
    <p><a href="http://knowit.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=sponsorpage" title="KnowIt"><img src="/img/sponsors/knowit.png" alt="Knowit logo"></a></p>
    <p><a href="https://www.finn.no/apply-here?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Finn"><img style="background-color:#FFF;width:200px;height:100px" src="/img/sponsors/finn.png" alt="Finn logo" align="left">
      FINN is Norway’s largest market place – helping thousands of people in their daily lives every day! Do you want to work with our amazing fronted devs? <br>
      Read more and apply here: <a href="//www.finn.no/apply-here">www.finn.no/apply-here</a></p>
  </div>


</div>
</div>
