<div class="">
  <div class="wrapper pvxl">

  <h2 class="f1 lh-solid">Our team of sponsors!</h2>
  <p>The Web Rebels Conference is run by a team of voulenteers and we run our organization as a non-profit.
    Without the help of our team of sponsors there would be no conference. Show them some love!</p>

  <p class="mbxl ">Want to join the team for 2017? <a href="mailto:sponrsors[ at ]webrebels.org">Email us</a> to be first in line 
    for the most awesome packages.
  </p>

  <p class="tc"><img src="http://i.giphy.com/5fMlYckytHM4g.gif"></p>

</div>
</div>
