  <div class="">
    <div class="wrapper pvxl">

    <h2 class="f1 lh-solid">Sponsor Web Rebels 2017!</h2>

    <p>Questions or want to discuss options “not on the menu”?
      Please don’t hestitate to <a href="mailto:sponrsor[ at ]webrebels.org">get in touch</a>.</p>
    <p>Already made up your mind? Head over and <a href="https://docs.google.com/forms/d/e/1FAIpQLSfkVpWU6wJ3dXLIm6qjGLHHfjkMWarlFvDV1Yqsj9jazv3M7A/viewform">register as a sponsors</a> to make it official!</p>

    <h3 class="f3 mtl mbm">Benefits for all sponsors:</h3>
    <ul>
      <li>Logo on website</li>
      <li>Our thanks on Twitter</li>
      <li>Mention in opening &amp; closing talks</li>
      <li>Displayed logo during breaks</li>
      <li>Logo displayed in online videos</li>
      <li>1 ticket</li>
    </ul>

    <h3 class="f3 mtl">Sponsor Tier 1</h3>
    <ul>
      <li>30 000 NOK</li>
    </ul>
    <h3 class="f3 mtl">Sponsor Tier 2</h3>
    <ul>
      <li>38 000 NOK</li>
      <li>Flag, banner or poster inside the venue (provided by you)</li>
      <li>Lanyard from your company (provided by you)</li>
    </ul>
    <h3 class="f3 mtl">Sponsor Tier 3</h3>
    <ul>
      <li>45 000 NOK</li>
      <li>Stands / booth or other kind of presence at the venue</li>
      <li>4 ticket</li>
    </ul>
    <hr style="margin: 40px 0 40px 0">

    <h2>Power ups</h2>
    <p>What are Power ups? It's additions to the regular packages which gives you the oportunity <tbody>
      get more out of your contribution.</p>
    <p>Power ups are unlocked for Tier 2 -3</p>

    <h3>Lunch stickers</h3>
    <ul>
      <li>5 000 NOK</li>
      <li>Add a sticker to all lunch cards given to speakers and attendees.</li>
    </ul>
    <h3>Scholarship</h3>
    <ul>
      <li>Minimum 3 000 NOK (no upper limit)</li>
      <li>Special address and mention at the conference.</li>
      <li>Company name mentioned whenever we talk about our scholarships in the media</li>
      <li>Name, logo etc on our scholarships page</li>
      <li>Rights to use your donation in promoting your company</li>
    </ul>
    <h3>Social</h3>
    <ul>
      <li>5 000 - 10 000 NOK</li>
      <li>We help you promote yourself at our social gatherings (speakers dinner, social event and dinner, pre conf social</li>
      <li>We work together and find unique ways for you to get your brand recognized by adding value to our attendees experience</li>
    </ul>
    <h3>Coffee</h3>
    <ul>
      <li>10 000 NOK</li>
      <li>You get to promote yourself as the ones providing coffee to everyone</li>
      <li>You can bring cups or similar for our attendees to use to consume coffee or tea</li>
    </ul>
  </div>
</div>
