  <div class="">
    <div class="wrapper pvxl">

    <h2 class="f1 impact">Sponsor Web Rebels 2016!</h2>

    <p>Questions or want to discuss options “not on the menu”? Please don’t hestitate to contact us on: sponsors(a)webrebels.org</p>

    <h3 class="f3 mtl mbm">Benefits for all sponsors:</h3>
    <ul>
      <li>Logo on website</li>
      <li>Our thanks on Twitter</li>
      <li>Mention in opening & closing talks</li>
      <li>Displayed logo during breaks</li>
      <li>Logo displayed in online videos</li>
    </ul>

    <h3 class="impact mtl">Sponsor Tier 1</h3>
    <ul>
      <li>30 000 NOK</li>
      <li>1 ticket</li>
    </ul>

    <h3 class="impact mtl">Sponsor Tier 2</h3>
    <ul>
      <li>38 000 NOK</li>
      <li>Flag, banner or poster inside the venue (provided by you)</li>
      <li>Lanyard from your company (provided by you)</li>
      <li>1 ticket</li>
    </ul>

    <h3 class="impact mtl">Sponsor Tier 3</h3>
    <ul>
      <li>60 000 NOK</li>
      <li>Stands / booth or other kind of presence at the venue</li>
      <li>4 tickets</li>
    </ul>

    <h3 class="impact mtl">Coffee Sponsor</h3>
    <p>We love coffee and we want the best possible coffee for our attendees.</p>
    <ul>
      <li>47 000 NOK</li>
      <li>Branding of the coffee stand</li>
      <li>3 tickets included</li>
    </ul>

    <h3 class="impact mtl">Breakfast</h3>
    <p>You can sponsor the lovely breakfast we'll be serving everyone each morning. Your brand could be there greeting the Rebels!</p>
    <ul>
      <li>47 000 NOK</li>
      <li>3 tickets</li>
    </ul>

    <h3 class="impact mtl">Lunch Sponsor</h3>
    <p>Everyone attending the conference gets a prepaid card to use in the magnificent <a href="http://mathallen.no" target="_new">Mathallen</a>. You can have your company name on them as our exclusive lunch sponsor.</p>
    <ul>
      <li>47 000 NOK</li>
      <li>Your stickers on the lunch cards</li>
      <li>3 tickets</li>
    </ul>

    <h3 class="impact mtl">Open Mic Night</h3>
    <p>Exclusive sponsor of this pre-event the day before the conference, with options for promotion materials.</p>
    <ul>
      <li>47 000 NOK</li>
      <li>Branding present at the venue during the Open Mic event</li>
      <li>3 tickets</li>
    </ul>

    <h3 class="impact mtl">Chill Out Sponsor</h3>
    <p>After the first day we gather everyone for some dinner and a social gathering. The Chill Out sponsor will have exclusive rights to sponsoring this event.</p>
    <ul>
      <li>47 000 NOK</li>
      <li>Branding or other activities present at the venue for the duration of the social event</li>
      <li>3 tickets</li>
    </ul>

    <h3 class="impact mtl">Media Sponsor</h3>
    <p>Sponsor our live streaming and recording of all the talks.</p>
    <ul>
      <li>47 000 NOK</li>
      <li>3 tickets</li>
    </ul>

  </div>
</div>
