<div class="">
  <div class="wrapper pvxl">

      <p><a href="/scholarship">The Web Rebels Scholarship Programme</a> is our effort to help increase the diversity at our conference and in the developer community at large.
      We encourage all sponsors who care about diversity to make a donation.</p>     

      <h2 class="impact mtl">Rewards for donations</h2>      

      <dl>
        <dt>&gt; 15 000 NOK</dt>
        <dd>You get a ticket to CSSconf, Web Rebels and NodeConf.</dd>
        <dt>&gt; 10 000 NOK</dt>
        <dd>You will be listed with a logo, link and name as Premium Donors and you're free to use this publicity about your company.</li>
        <dt>All</dt>
        <dd>You will get your name listed on the Scholarship Program page</dd>
      </dl>     

      <h2 class="impact mtl">Make donation</h2>
      <form method="post" action="donate">
        <label for="email">Email:
          <input type="email" name="email" id="email">
        </label>
        <label for="amount">Amount:
          <input type="number" name="amount" id="amount"> NOK
        </label>
        <br>
        <button class="mtl">Donate now!</button>
      </form>

  </div>
</div>