  <div class="">
    <div class="wrapper pvxl">

      <h2 class="f1 impact">Scholarship Programme</h2>
      <p>
        Web Rebels is a conference organised by and for the community,
        and it's important to us that all members of the community
        should be included, also those who would normally be unable to
        attend for financial reasons. We're very happy to be able to
        offer <em>The Web Rebels Scholarship Programme</em> to offer financial
        aid to people from underrepresented groups wanting to attend the
        conference.
      </p>
      <h2 class="impact mtl">How do I apply?</h2>
      <p>We will open for the application process for the Scholarship Programme in the very near future.
      It will be announced on <a href="https://twitter.com/web_rebels">Twitter</a> and our <a href="http://webrebels.us3.list-manage1.com/subscribe?u=f515e6756e5ffeffd7a28a60d&id=7d5e649dbe">newsletter</a>.</p>

      <h2 class="impact mtl">Eligibility</h2>
      <p>
        Scholarships are primarily intended to assist people from groups
        traditionally underrepresented in the local developer community,
        including women, people of non-Scandinavian descent and people
        with disabilities. However, we wouldn't presume to be able to
        provide a complete list of underrepresented groups, so all
        applications will be considered. Eligibility ultimately depends
        on the discretion of the selection committee.
      </p>

      <h2 class="impact mtl">Selection</h2>
      <p>
        All applications will be reviewed by the selection committee,
        and will be accepted at their discretion, although selection
        will primarily favour diversity concerns and financial need. All
        information provided to the committee will be kept strictly
        confidential.
      </p>

      <h2 class="impact mtl">Award</h2>
      <p>
        Selected applicants will receive a fully paid ticket for the
        conference, and may also apply for travel and lodging
        assistance, although our ability to offer this will be more
        limited.
      </p>
<!--
      <h2 class="impact mtl">Donate now!</h2>
      <p>You or your company can <a href="/scholarship/donate">donate to the Scholarship Programme</a> any amount you see fit.</p>
-->
      <h2 class="impact mtl">Questions?</h2>
      <p>
        If you have further questions about the Scholarship Programme,
        please contact <a href="mailto:scholarships@webrebels.org">scholarships@webrebels.org</a>.
      </p>

  </div>
</div>
