@charset "utf-8";

/* -------------------------------------------------------

CSS for Web Rebels 2017

Inspired by:
https://github.com/inuitcss/getting-started
https://github.com/mhauken/start/
https://github.com/tachyons-css/tachyons <333
------------------------------------------------------- */


/* -------------------------------------------------------
    Base / unclassed HTML-elements
------------------------------------------------------- */

html {
    box-sizing: border-box;
    color: #333;
    font-family: 'Rubik', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 125%;
    line-height: 1.6;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul,
form, fieldset, legend, figure, table, th, td, caption, hr {
    margin:  0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul {
    margin-bottom: 1em;
}

ul, ol, dd {
    margin-left: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bungee', sans-serif;
    font-weight: normal;
}

img {
    max-width: 100%;
}

a {
    border-bottom: 2px solid #CC07C7;
    box-shadow: inset 0 0 0 transparent;
    color: #B20FAE;
    margin: 0 -2px;
    padding: 2px 3px;
    text-decoration: none;
    transition: all ease-in-out 300ms;
    white-space: nowrap;
}

a:hover,
a:focus {
    box-shadow: inset 0 -1.6em 0 #CC07C7;
    color: #fff;
}


/* -------------------------------------------------------
    Objects
------------------------------------------------------- */

.wrapper,
.wrapper--wide {
    margin: 0 auto;
    max-width: 90%;
    padding: 0 1em;
}

@media screen and (min-width: 1200px) {
    .wrapper {
        max-width: 800px;
    }

    .wrapper--wide {
        max-width: 1200px;
    }
}

.list-inline {
    margin: 0;
    padding: 0;
    list-style: none; }
    .list-inline > li {
    display: inline-block;
}

.list-bare {
    margin:  0;
    padding: 0;
    list-style: none;
}

.box {
    display: block;
    background-color: #fff;
    color: #202020;
    padding: 1em 1em 0.5em 1em;
    margin-bottom: 2em;
}

@media screen and (min-width: 800px) {
    .box {
        padding: 1em 2em 0.5em 2em;
    }
}


/* -------------------------------------------------------
    Components
------------------------------------------------------- */

header {
    color: #333;
    background: #FFD123;
    padding-bottom: 3em;
}

.homelink {
    border: none;
    box-shadow: none;
    color: #333;
}

.homelink:hover {
    border: none;
    box-shadow: none;
    color: #CC07C7;
}


/* -------------------------------------------------------
    Spacing from tachyons <3
    http://tachyons.io/docs/layout/spacing/
------------------------------------------------------- */

.pan  {   padding: 0; }
.paxs {   padding: .25rem; }
.pas  {   padding: .5rem; }
.pam  {   padding: 1rem; }
.pal  {   padding: 2rem; }
.paxl  {  padding: 4rem; }
.paxxl {  padding: 8rem; }
.paxxxl { padding: 16rem; }

.pln  {   padding-left: 0; }
.plxs {   padding-left: .25rem; }
.pls  {   padding-left: .5rem; }
.plm  {   padding-left: 1rem; }
.pll  {   padding-left: 2rem; }
.plxl  {  padding-left: 4rem; }
.plxxl {  padding-left: 8rem; }
.plxxxl { padding-left: 16rem; }

.prn  {   padding-right: 0; }
.prxs {   padding-right: .25rem; }
.prs  {   padding-right: .5rem; }
.prm  {   padding-right: 1rem; }
.prl  {   padding-right: 2rem; }
.prxl  {  padding-right: 4rem; }
.prxxl {  padding-right: 8rem; }
.prxxxl { padding-right: 16rem; }

.pbn  {   padding-bottom: 0; }
.pbxs {   padding-bottom: .25rem; }
.pbs  {   padding-bottom: .5rem; }
.pbm  {   padding-bottom: 1rem; }
.pbl  {   padding-bottom: 2rem; }
.pbxl  {  padding-bottom: 4rem; }
.pbxxl {  padding-bottom: 8rem; }
.pbxxxl { padding-bottom: 16rem; }

.ptn  {   padding-top: 0; }
.ptxs {   padding-top: .25rem; }
.pts  {   padding-top: .5rem; }
.ptm  {   padding-top: 1rem; }
.ptl  {   padding-top: 2rem; }
.ptxl  {  padding-top: 4rem; }
.ptxxl {  padding-top: 8rem; }
.ptxxxl { padding-top: 16rem; }

.pvn {    padding-top: 0;       padding-bottom: 0; }
.pvxs {   padding-top: .25rem;  padding-bottom: .25rem; }
.pvs {    padding-top: .5rem;   padding-bottom: .5rem; }
.pvm {    padding-top: 1rem;    padding-bottom: 1rem; }
.pvl {    padding-top: 2rem;    padding-bottom: 2rem; }
.pvxl {   padding-top: 4rem;    padding-bottom: 4rem; }
.pvxxl {  padding-top: 8rem;    padding-bottom: 8rem; }
.pvxxxl { padding-top: 16rem;   padding-bottom: 16rem; }

.phn {    padding-left: 0;      padding-right: 0; }
.phxs {   padding-left: .25rem; padding-right: .25rem; }
.phs {    padding-left: .5rem;  padding-right: .5rem; }
.phm {    padding-left: 1rem;   padding-right: 1rem; }
.phl {    padding-left: 2rem;   padding-right: 2rem; }
.phxl {   padding-left: 4rem;   padding-right: 4rem; }
.phxxl {  padding-left: 8rem;   padding-right: 8rem; }
.phxxxl { padding-left: 16rem;  padding-right: 16rem; }

.man  {   margin: 0; }
.maxs {   margin: .25rem; }
.mas  {   margin: .5rem; }
.mam  {   margin: 1rem; }
.mal  {   margin: 2rem; }
.maxl  {  margin: 4rem; }
.maxxl {  margin: 8rem; }
.maxxxl { margin: 16rem; }

.mln  {   margin-left: 0; }
.mlxs {   margin-left: .25rem; }
.mls  {   margin-left: .5rem; }
.mlm  {   margin-left: 1rem; }
.mll  {   margin-left: 2rem; }
.mlxl  {  margin-left: 4rem; }
.mlxxl {  margin-left: 8rem; }
.mlxxxl { margin-left: 16rem; }

.mrn  {   margin-right: 0; }
.mrxs {   margin-right: .25rem; }
.mrs  {   margin-right: .5rem; }
.mrm  {   margin-right: 1rem; }
.mrl  {   margin-right: 2rem; }
.mrxl  {  margin-right: 4rem; }
.mrxxl {  margin-right: 8rem; }
.mrxxxl { margin-right: 16rem; }

.mbn  {   margin-bottom: 0; }
.mbxs {   margin-bottom: .25rem; }
.mbs  {   margin-bottom: .5rem; }
.mbm  {   margin-bottom: 1rem; }
.mbl  {   margin-bottom: 2rem; }
.mbxl  {  margin-bottom: 4rem; }
.mbxxl {  margin-bottom: 8rem; }
.mbxxxl { margin-bottom: 16rem; }

.mtn  {   margin-top: 0; }
.mtxs {   margin-top: .25rem; }
.mts  {   margin-top: .5rem; }
.mtm  {   margin-top: 1rem; }
.mtl  {   margin-top: 2rem; }
.mtxl  {  margin-top: 4rem; }
.mtxxl {  margin-top: 8rem; }
.mtxxxl { margin-top: 16rem; }

.mvn   {   margin-top: 0;      margin-bottom: 0rem; }
.mvxs  {   margin-top: .25rem; margin-bottom: .25rem; }
.mvs   {   margin-top: .5rem;  margin-bottom: .5rem; }
.mvm   {   margin-top: 1rem;   margin-bottom: 1rem; }
.mvl   {   margin-top: 2rem;   margin-bottom: 2rem; }
.mvxl   {  margin-top: 4rem;   margin-bottom: 4rem; }
.mvxxl  {  margin-top: 8rem;   margin-bottom: 8rem; }
.mvxxxl  { margin-top: 16rem;  margin-bottom: 16rem; }

.mhn   {   margin-left: 0;     margin-right: 0; }
.mhs   {   margin-left: .5rem; margin-right: .5rem; }
.mhm   {   margin-left: 1rem;  margin-right: 1rem; }
.mhl   {   margin-left: 2rem;  margin-right: 2rem; }
.mhxl   {  margin-left: 4rem;  margin-right: 4rem; }
.mhxxl  {  margin-left: 8rem;  margin-right: 8rem; }
.mhxxxl  { margin-left: 16rem; margin-right: 16rem; }


/* -------------------------------------------------------
    Utilities and helper classes
------------------------------------------------------- */

.mega {font-size: 4em;}
.f1 {font-size: 2em;}
.f2 {font-size: 1.5em;}
.f3 {font-size: 1.5em;}
.f4 {font-size: 1.25em;}
.f5 {font-size: 1em;}
.small {font-size: .875em;}

@media screen and (min-width: 800px) {
    .mega {font-size: 5.5em;}
    .f1 {font-size: 2.5em;}
}

.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }
.tj  { text-align: justify; }

.dn {     display: none; }
.di {     display: inline; }
.db {     display: block; }
.dib {    display: inline-block; }

.w1 {  width: 1em; }
.w2 {  width: 2em; }
.w3 {  width: 4em; }
.w4 {  width: 8em; }
.w5 {  width: 12em; }
.w6 {  width: 16em; }

.w-10 { width:  10%; }
.w-20 { width:  20%; }
.w-25 { width:  25%; }
.w-33 { width:  33%; }
.w-34 { width:  34%; }
.w-40 { width:  40%; }
.w-50 { width:  50%; }
.w-60 { width:  60%; }
.w-75 { width:  75%; }
.w-80 { width:  80%; }
.w-100 { width: 100%; }

.w-auto { width: auto; }

.lh-solid { line-height: 1; }
.lh-title { line-height: 1.3; }
.lh-copy  { line-height: 1.7; }

/* I can haz floats?!
Remember clearfix .cf on parent */

.fl { float: left;  display: inline; }
.fr { float: right; display: inline; }
.fn { float: none; }


/* Clearfix
ref http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before,
.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf {       *zoom: 1; }


/* Vertical align text and inline elements */

.v-base     { vertical-align: baseline; }
.v-sub      { vertical-align: sub; }
.v-sup      { vertical-align: super; }
.v-txt-top  { vertical-align: text-top; }
.v-txt-btm  { vertical-align: text-bottom; }
.v-mid      { vertical-align: middle; }
.v-top      { vertical-align: top; }
.v-btm      { vertical-align: bottom; }
