header {
  background-image: url("/img/headers/header.png");
  background-size: cover;
  height: 100vh;
  width: 1000px;
  text-align: center;
  background-color: $black;
}
#talks {
  background-image: url("/img/headers/talks.png");
}
#schedule {
    background-image: url("/img/headers/schedule.png");
}
#location {
  background-image: url("/img/headers/location.png");
}
#about {
  background-image: url("/img/headers/about.png");
}

img.logo {
  margin: 0 auto;
  min-width: 200px;
  max-width: 500px;
  width: 40%;
  position: relative;
  top: 40vh;
}

nav {
  display: none;
  background-color: $black;
  position:absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;

  div {
      display: inline;
      margin: 0 auto;
  }
  ul {
      margin: 0;
      display: table-row;
  }

  li {
      display: table-cell;
      vertical-align: middle;
  }
  a {
      border-top: solid transparent 5px;
      padding: 0 20px;
      margin: 0 20px;
  }
  a:hover,
  a:focus {
      border-top: solid 8px rgb(244,219,25);
  }
  svg {
      fill: $yellow;
      height: 25px;
      padding: 4px 0 0 0;
  }
  @media (min-width: 1024px) {
      display: block;
  }
}


.nav-list {
    text-transform: uppercase;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.menu {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: solid transparent 100vh;
  border-right: solid $black 35vh;
  width: 0;
  height: 0;
  .nav-list {
    position: relative;
    top: -25vh;
    width: 200px;
    text-align: right;
  }
}

section {
    @extend .cf;
  padding: 300px 0 0 100px;
  background-color: $black;
  background-size: contain;
  background-repeat: no-repeat;
  h1 {
      font-size: 60px;
      font-weight: bold;
    text-transform: uppercase;
    color: $yellow;
  }
  .left-column {
      @extend .w-40;
      @extend .fl;
  }
  .right-column {
      @extend .w-60;
      @extend .fl;
  }

  .section-content {
      color: $white;
      p {
          padding: 0 0 10px;
          margin: 0 60px 60px 0;
          border-bottom: 10px solid $white;
      }
  }
}

$section-padding-right: 160px;
#talks {
    .selected-talk {
        .talk-details {
            background-color: $yellow;
            color: $black;
        }
        .presenter-details {
            background-color: $grey;
        }
    }
    .talk-details {
        color: $yellow;
        padding: 30px $section-padding-right 30px 30px;
    }
    .presenter-details {
        padding: 15px $section-padding-right 15px 15px;
        position: relative;
        top: -4px;
        margin: -15px 0 50px 15px;
        color: $white;
        .name {
            font-weight: bold;
            padding: 0;
            margin: 0;
        }
        .intro {
            padding: 0;
            margin: 0;
        }

        .links {
            list-style: none;
            margin: 0;
            li {
                display: inline;
                color: $white;
                padding: 0 10px 0 0;

            }
            li i {
                padding: 0 5px 0 0;
            }
        }
        img {
            width: 20%;
            height: 20%;
            border-radius: 50%;
        }
        .details-wrapper {
            padding: 0 0 0 20px;
            display: inline;
            width: 80%;
        }
    }

    .talk-nav {
        margin: 0;
        padding: 0;
        a {
            white-space: initial;
        }
    }

}

#schedule {
    .right-column {
        color: $yellow;
    }

    .day-schedule {
        list-style: none;
    }

    .schedule-item {
        @extend .cf;
        &:hover {
            color: $black;
            background-color: $yellow;
        }

        .time {
            padding: 0 10px 10px 0;
            width: 60px;
        }
        div {
            @extend .fl;
            display: block;
        }
        .info {
            @extend .w-80;
            padding: 0 0 10px 10px;
            border-left: 2px solid $yellow;
        }
        .title {
            display: block;
            font-weight: bold;
        }
        .details {
            display: block;
            font-style: italic;
        }
    }
}

// strong {
//     font-weight: 700;
// }
//
// .speakers {
//     list-style-type: none;
//     margin: 0;
// }
//
// .speaker-link {
//     align-items: flex-end;
//     display: flex;
//     margin-bottom: 20px;
// }
//
// .speaker-img {
//     height: 48px;
//     margin: 0 15px 0 0;
//     width: 48px;
// }
//
// .speaker-name {
//     color: #3c3c3a;
// }
//
// .speaker-link:hover .speaker-name {
//     color: #8f4d91;
//     transition: all 0.1s ease 0s;
// }
//
// .tickets-soldout {
//     color: #810000;
//     font-weight: bold;
// }
//
// @media screen and (min-width: 600px) {
//     .speakers {
//         display: flex;
//         flex-wrap: wrap;
//     }
//
//     .speaker {
//         margin: 0;
//         width: 50%;
//     }
//
//     .speaker-link {
//         margin: 0 20px 20px 0;
//     }
//
//     .speaker-img {
//         height: 80px;
//         width: 80px;
//     }
// }
//
// @media screen and (min-width: 1000px) {
//     .speakers {
//         justify-content: center;
//     }
//
//     .speaker {
//         text-align: center;
//         width: 25%;
//     }
//
//     .speaker-link {
//         display: block;
//         margin-bottom: 2em;
//     }
//
//     .speaker-img {
//         height: auto;
//         margin: 0 0 2px;
//         width: 100%;
//     }
// }
//
// // Rebels = speakers on the speaker page
//
// .rebels {
//     border-top: 6px solid #8f4d91;
//     list-style-type: none;
//     margin-top: 20px;
//     padding-left: 0;
// }
//
// .rebels > li {
//     border-bottom: 6px solid #8f4d91;
//     padding: 1.5em 0;
// }
//
// .rebel-img {
//     float: left;
//     margin-right: 1em;
//     max-width: 100px;
// }
//
// @media screen and (min-width: 800px) {
//     .rebel-img {
//         max-width: 300px;
//     }
// }
//
// footer {
//     background-color: #272327;
// }
//
// footer p.tc a {
//     border: 0;
//     color: #CC07C7;
//     padding: 0 0.3em 0.2em 0.3em;
//     text-decoration: underline;
// }
//
// footer p.tc a:hover,
// footer p.tc a:focus {
//     box-shadow: none;
//     color: #fff;
// }
//
// /* Navigation in footer */
//
// .menu {
//     list-style-type: none;
//     clear: both;
//     padding-left: 0;
//     margin-left: 0;
// }
//
// .menu-item {
//     display: inline-block;
// }
//
// .menu-item a {
//     border-bottom: 0;
//     display: block;
//     padding: 0.5em 1em;
//     color: #fff !important;
//     text-decoration: underline;
// }
//
// .menu-item a:hover,
// .menu-item a:focus {
//     box-shadow: none;
//     color: #CC07C7 !important;
// }
//
// // footer .tc a::before,
// // .menu-item a::before {
// //   content: '»';
// //   font-size: 0.8em;
// //   padding-right: 0.3em;
// // }
//
// // Sponsors
//
// .sponsors {
//     align-items: flex-end;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     list-style-type: none;
//     margin-right: -5px;
//     padding-left: 0;
// }
//
// .sponsors li {
//     text-align: center;
//     width: 50%;
// }
//
// .sponsors a {
//     display: block;
//     margin: 0 10px 5px 0;
// }
//
// .sponsors img {
//     margin-bottom: 0;
// }
//
// .sponsors a:hover img {
//     opacity: 0.8;
// }
//
// @media screen and (min-width: 800px) {
//     .sponsors li {
//         width: auto;
//     }
//
//     .sponsors a {
//         margin: 0 20px 20px 0;
//     }
// }
//
//
//
// /* The conference schedule */
//
// .schedule-last-block {
//     margin-bottom: 3em;
// }
//
//
// .schedule {
//     width: 100%;
//     margin-bottom: 3em;
//     border-collapse: collapse;
//     border-top: 4px solid #525251;
//     border-bottom: 4px solid #525251;
// }
//
// .schedule p {
//     margin-bottom: 0;
// }
//
// .schedule th {
//     padding: 0.5em 1em;
//     vertical-align: text-top;
// }
//
// .schedule td {
//     vertical-align: text-top;
//
// }
//
// .schedule-break {
//     border-top: 2px solid #efefed;
//     border-bottom: 2px solid #efefed;
//     color: #8A8A86;
// }
//
// .schedule-break > td {
//     padding: 0.5em 1em;
//     font-style: italic;
// }
//
// .schedule-talk > td {
//     padding-left: 1em;
// }
//
// .schedule-link {
//     display: block;
//     padding: 0.5em 1em;
//     margin-left: -1em;
// }
//
// a.schedule-link {
//     color: #3C3C36;
// }
//
// .schedule-link:hover {
//     background-color: #efefed;
//     transition: background 0.1s ease-in 0s;
// }
//
//
// .live-stream-wrapper {
//     position: relative;
//     padding-bottom: 56%; /* 16:9 */
//     height: 0;
//     margin-bottom: 20px;
// }
//
// .live-stream-wrapper iframe {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }
//
// .tickets {
//     background-color: #fff;
//     border: 2px solid #000;
//     color: #000;
//     cursor: pointer;
//     font-size: 2em;
//     margin-bottom: 2em;
//     margin-left: 2em;
// }
//
// a.tickets:hover,
// a.tickets:focus {
//     box-shadow: inset 0 -2 0 #CC07C7;
//     color: #fff;
// }
//
// @media screen and (max-width: 600px) {
//     .tickets {
//         display: block;
//         margin-bottom: 1em;
//         margin-left: 0;
//         width: 7em;
//     }
// }
