@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$desktop-width - 1}) {
    @content;
  }
}


#talks {
  background-image: url("/img/headers/talks.png");
}

#schedule {
  background-image: url("/img/headers/schedule.png");
}

#location {
  background-image: url("/img/headers/location.png");
}

#about {
  background-image: url("/img/headers/about.png");
}

header {
  background-image: url("/img/headers/header.png");
  background-size: cover;
  height: 100vh;
  width: 1000px;
  text-align: center;
  background-color: $black;

  img.logo {
    margin: 0 auto;
    min-width: 200px;
    max-width: 500px;
    width: 40%;
    position: relative;
    top: 40vh;
  }

  nav {
    z-index: 100;
    display: none;
    background-color: $black;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    height: 30px;

    div {
      display: inline;
      margin: 0 auto;
    }
    ul {
      margin: 0;
      display: table-row;
    }

    li {
      display: table-cell;
      vertical-align: middle;
    }
    a {
      border-top: solid transparent 5px;
      padding: 0 20px;
      margin: 0 40px;
    }

    a:hover,
    a:focus {
      border-top: solid 8px rgb(244, 219, 25);
    }
    .fist-icon {
      padding-right: 50px;
      svg {
        fill: $yellow;
        height: 25px;
        padding: 4px 0 0 0;
      }
    }

    @include desktop {
      display: block;
    }
    &.floating {
      position: fixed;
      top: 0;
    }
  }

  .nav-list {
    text-transform: uppercase;
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
    }
  }
  .menu-icon {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 40px;
    padding: 0 6px;
    border-radius: 2px;
    background-color: $yellow;
    color: $black;
    font-size: 20px;
    @include desktop {
      display: none;
    }
  }
  #menu-checkbox {
    visibility: hidden;
  }
  $menu-width: 280px;
  @include mobile {
    #menu-checkbox~.menu-wrapper .menu {
      right: -$menu-width;
    }

    #menu-checkbox:checked~.menu-wrapper .menu {
      right: 0;
    }
  }
  .menu-wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
  }

  .menu {
    transition: right 0.4s;
    position: relative;
    bottom: 0;
    right: 0;
    border-top: solid transparent 100vh;
    border-right: solid $black $menu-width;
    width: 0;
    height: 0;
    .nav-list {
      margin: 0;
      position: relative;
      width: 150px;
      text-align: right;
      bottom: 170px;
      left: 90px;
      @include desktop {
        bottom: 190px;
        left: 115px;
      }
    }
  }
}

section {
    $mobile-content-padding: 10px;
    @extend .cf;
    min-height: 1500px;

    padding: 300px 0 50px 0;
    @include desktop {
        padding: 300px 0 0 100px;
    }
    background-color: $black;
    background-size: contain;
    background-repeat: no-repeat;
    h1 {
        @include mobile {
            padding: 0 0 0 $mobile-content-padding;
        }
        font-size: 60px;
        font-weight: bold;
        text-transform: uppercase;
        color: $yellow;
    }
    @include desktop {
        .left-column {
            width: 40%;
            float: left;
        }
        .right-column {
            width: 60%;
            float: left;
        }
    }
    @include mobile {
        .left-column {
            padding: 0 $mobile-content-padding;
        }
    }

    .section-content {
        color: $white;
        p {
            padding: 0 0 10px;
            border-bottom: 15px solid $white;
            @include desktop {
                margin: 0 60px 60px 0;
                border-bottom: 10px solid $white;
            }
        }
    }

    &.active-section {
      background-attachment: fixed;
    }
}

$section-padding-right: 160px;
#talks {
    .selected-talk {
        .talk-details {
            background-color: $yellow;
            color: $black;
        }
        .presenter-details {
            background-color: $grey;
        }
    }
    .talk-details {
        color: $yellow;
        padding: 30px 10px;
        @include desktop {
            padding: 30px $section-padding-right 30px 30px;
        }
    }
    .presenter-details {
        padding: 15px 10px;
        @include desktop {
            padding: 15px $section-padding-right 15px 15px;
        }
        position: relative;
        top: -4px;
        margin: -15px 0 50px 15px;
        color: $white;
        .name {
            font-weight: bold;
            padding: 0;
            margin: 0;
        }
        .intro {
            padding: 0;
            margin: 0;
        }

        .links {
            list-style: none;
            margin: 0;
            li {
                display: inline;
                color: $white;
                padding: 0 10px 0 0;
            }
            li i {
                padding: 0 5px 0 0;
            }
        }
        img {
            width: 17%;
            height: 17%;
            border-radius: 50%;
        }
        .details-wrapper {
            padding: 0 0 0 20px;
            display: inline;
            width: 80%;
        }
    }

    .talk-nav {
        margin: 0 0 20px 20px;
        @include desktop {
            margin: 0;
        }

        padding: 0;
        a {
            white-space: initial;
        }
    }
}

#schedule {
    .right-column {
        color: $yellow;
        padding: 0 10px;
    }

    .day-schedule {
        list-style: none;
        margin: 0;
        @include desktop {
            margin: 32px;
        }
    }

    .schedule-item {
        @extend .cf;
        &:hover {
            color: $black;
            background-color: $yellow;
        }

        .time {
            padding: 0 10px 10px 0;
            width: 60px;
        }
        div {
            @extend .fl;
            display: block;
        }
        .info {
            @extend .w-80;
            padding: 0 0 10px 10px;
            border-left: 2px solid $yellow;
        }
        .title {
            display: block;
            font-weight: bold;
        }
        .details {
            display: block;
            font-style: italic;
        }
    }
}

#location {
    .right-column {
        color: $black;
        padding: 30px $section-padding-right 30px 30px;
        background-color: $yellow;
    }

    h5 {
        text-transform: uppercase;
    }
    h4 {
        font-weight: bold;
    }
}

#about {
    .right-column {
        color: $yellow;

        ul {
            list-style: none;
            margin: 0;
        }

        ol {
            list-style: none;
            li::before {
                content: '-';
                margin: 0 8px 0 0;
                display: inline;
            }
        }
        i {
            font-size: 70px;
        }
        .about-sections>li {
            @extend .cf;
            padding: 30px;
        }
        li div {
            @extend .fl;
        }
        .icon {
            margin: 0 30px;
            width: 70px;
        }
    }

    .with-background {
        background-color: $yellow;
        color: $black;
    }

    .js-svg-wrapper,
    .fist-svg-wrapper {
        width: 70px;
    }

    .fist-svg-wrapper {
        svg {
            fill: $yellow;
        }
    }
}

#sponsors {
  background-color: $yellow;
  min-height: 1000px;
  h1 {
    color: $black;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 60px 60px 0;
  }
  li {
    display: inline;
    width: 200px;
    height: 100px;
  }
  img {
    width: 200px;
    height: 100px;
    background-color: #fff;
  }

  .section-content p {
    color: $black;
    border-color: $black;
    width: 40%;
  }
}

footer {
    padding: 100px 0 200px 0;
    background-color: $black;
    color: $yellow;
    text-align: center;

    ul {
        list-style: none;
        margin: 0;
    }
    li {
        display: inline;
        margin: 0 20px 0 0;
        font-size: 50px;
    }

    h5 {
        text-transform: uppercase;
    }

    button {
        background-color: $yellow;
        border-radius: 3px;
        color: $black;
        border: none;
        font-size: 18px;
        width: 250px;
        display: block;
        margin: 0 auto;
        text-transform: uppercase;
        margin-top: 2px;
    }
    input {
        background-color: $black;
        border-color: $yellow;
        border-radius: 3px;
        color: $yellow;
        border: solid $yellow 4px;
        font-size: 18px;
        width: 250px;
        &::placeholder {
            color: $yellow;
        }
    }

    .fist-svg-wrapper {
        padding: 150px 0 0 0;
        svg {
            width: 60px;
            fill: $yellow;
        }
    }
}
